.github/
backend-go/wrserver
backend-rust/target/
backend-rust/Cargo.*
frontend-gleam-m3e/.lustre
frontend-gleam-m3e/build
frontend-gleam-m3e/dist/node_modules
frontend-gleam-m3e/dist/*.json
frontend-gleam-tailwind/.lustre
frontend-gleam-tailwind/build
