.github/
backend_gleam/build
backend_go/wrserver
backend_go/wrserver.wasm
backend_rust/target/
backend_rust/Cargo.*
frontend_m3e/.lustre
frontend_m3e/build
frontend_m3e/dist/node_modules
frontend_m3e/dist/*.json
frontend_material_tailwind/.lustre
frontend_material_tailwind/build
